{% extends 'base.html' %}

{% block title %}
    create
{% endblock %}

{% block main %}
    <h1>Fighter Create</h1>

    <form method="post" action="{% url 'country_create' %}">
        {% csrf_token %}

        {#<label for="name">Country Name :</label>#}
        {#<input type="text" name="name" placeholder=" Davlat Nomi ..." required> <br><br>#}

        {#<label for="population">Population:</label>#}
        {#<input type="number" name="population" placeholder="Odamlar soni..." required><br><br>#}


        {{form.as_p}}

        <button>Save</button>

        <a href="{% url 'country_list' %}">
            back
        </a>
    </form>

{% endblock %}