{% extends 'base.html' %}

{% block title %}
    car list
{% endblock %}

{% block main %}

<h1>Car List</h1>

<a href="{% url 'car_create' %}">
    <button class="btn btn-primary">create</button>
</a>

<div class="categories">
    {% for car in cars %}
        <div class="car-card" style="margin-bottom:20px; border:1px solid #ccc; padding:10px;">

            <form action="{% url 'car_delete' car.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">delete</button>
            </form>
            <a href="{% url 'car_update' car.id %}">
                <button class="btn btn-warning">update</button>
            </a>

            <h2>{{ car.brand }}</h2>
            <p>{{ car.model }}</p>
            <p>{{ car.year }}</p>



        </div>
    {% endfor %}
</div>

{% endblock %}