{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex: 1;
        }
        footer {
            background-color: #333333;
            color: #ffffff;
            padding: 15px;
            text-align: center;
            border-top: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <header>

    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        📧 football@example.com | 📞 +998 90 987 65 43 <br>
        © 2026 Football Club Management
    </footer>
</body>
</html>